{% extends 'covid_app/base.html' %}

{% block title %}Event New | COVID{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row ">
<!--        <button type="reset" class="btn btn-danger btn-lg"><a href="{% url 'event_list' %}">Cancel</a></button>-->
        <a type="button" class="btn btn-danger btn-lg align-middle" href="{% url 'event_list' %}">Cancel</a>
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <h1 class="display-4 py-2 text-light">Initiate New Event</h1>
            <div class="px-2">
                <form action="" method="post" class="justify-content-center">{% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Initiator</span>
                        </div>
                        <select class="form-control form-control-lg" name="initiator" id="id_initiator" >
                            <option value="{{ person.pk }}">{{ person.rank }} {{ person.lname }}, {{ person.fname }}</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Location</span>
                        </div>
                        <input class="form-control form-control-lg" type="text" name="location" value="{{ location.pk }}" placeholder="{{ location.location }}"  readonly="">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg" autofocus>Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}